//
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header,footer{
  padding:75px 0;
  color:black;
  background:brown;
  text-align: center;
}
.container-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .box-tag{
    display: flex;
    flex-direction: column;
    padding:20px;
    margin:10px;
    justify-content: space-between;
    background-color:purple;
    border:2px solid black;
    border-radius:5px;
    width:250px;
    height:250px;
    line-height:2;
    p{
      color:white;
    }
    h2{
      text-align: center;
    }
  }
  .box-posts{
    h2{
      text-align: center;
    }
    .box-post{
      line-height:2;

    }
  }
}
.container{
  display: flex;
  justify-content: center;
}
.container-admin{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.categories,.tags{

  width:150px;
  border-top:2px solid black;

  text-align: center;
  background:brown;


  a{
    line-height:2;
    color:white;
    text-decoration: none;
    display: block;
  }
}
.box-post{
  display: flex;
  line-height:2;
  padding:10px 15px;
  width:300px;
  flex-direction: column;
  margin:15px;
  align-items: center;
  justify-content: space-between;
  background-color:purple;
  border:2px solid black;
  border-radius:5px;
  height:600px;
  p{
    color:white;

  }
  p.content{
    padding:20px 0;
  }
  a{
    text-decoration: none;
    color:black;
    padding-top:20px;
    font-size:20px;
    &:hover{
      color:white;
      text-decoration: underline;
      font-size:25px;
    }
  }

}
.link,.newpost{
  width:100%;
  text-align: center;
  margin:30px 0;
  a{
    text-decoration:none;
    padding:15px;
    background-color:red;
    color:white;
    border:solid 1px white;
    border-radius:10px;

  }
}
.form-newPost{
  line-height: 3;
  text-align: right;
  .form-element{
    padding:20px 0;
  input{
    padding:5px ;

  }
  input.content{
    padding:15px 0;
  }
}
}
.tags{
  h2{
    text-align: center;
  }
}
.container-tags{
  h2{
    text-align: center;

  }
  .box-tag{
    display: flex;
    flex-direction: column;
    padding:20px;
    margin:10px;
    background-color:purple;
    border:2px solid black;
    border-radius:5px;
    width:200px;
    p{
      color:white;
    }
  }
}

//
